.signUpPage,.askQuantity,.signinPage, .welcomePage, .showProductList,.showPurchase ,.showBill ,.showCart,.showWalletRecharge,.showBalance ,.addProductForm{
    display: none;
}

.profile{
    width: 50;
    height: 50;
    border-radius: 50%;
    margin: 0 20%;
    margin-top: 14px;
}

.pageHeader{
    display: flex;
    width: 23%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.greet{
        font-size: 1.8rem;
}

.greetdiv{
    padding-left: 50%;
}

.homePage{
    display: flex;
    width: 29%;
    flex-direction: column;
    text-align: center;
    margin: auto;
    background-color: #e9e3e3;
    border-radius: 22px;
}
.signinPage{
    background-color: #e9e3e3;
    border-radius: 22px;
}
.signindiv{
    margin-left: 24%;
}
.signUpBtn{
    width: 28%;
    height: 46%;
    margin: 28px 46px;
    background: #ffa218;
    border: 0 solid;
    font-size: 20px;
    border-radius: 9px;
    font-weight: 600;
    color: #e9e3e3;
}
.sininSignUp{   
    height: 105px;
}

.headers{
    font-size: 30px;
    color: #ffa218;
}
.titles ,.showBalance{
    font-size: 30px;
    color: #ffa218;
}

.signUpPage{
    /* justify-content: center;
    margin: 0px 36%;
    width: 25%;
    padding-left: 10%; */

    margin: 0px 36%;
    width: 25%;
    padding-left: 10%;
}
.signupLables{
    font-size: 20px;
font-family: serif;
color: #2d2424;
}
.singleSignIN{
    margin: 0px 12%;
    width: 107px;
    height: 39px;
    background: #ffa218;
    font-size: 20px;
    border-radius: 9px;
    font-weight: 600;
    color: #e9e3e3;
    border: 0;
}
.buttons{
    margin: 0px 1%;
    width: 183px;
    height: 39px;
    background: #ffa218;
    font-size: 20px;
    border-radius: 9px;
    font-weight: 600;
    color: #e9e3e3;
    border: 0;
}
.signinPage{
    width: 20%;
    margin: 0 40%;
    height: 58%;
}
.inputbox{
    width: 177px;
    height: 30px;
    font-size: 17px;
}

.buttons:hover, .buttons:focus{
    background-color: #2d2424;
}
.showProductList{
    text-align: center;
}
.productListTable{
    border-collapse: collapse;
    margin: 0px 154px;
    width: 80%;
    text-align: center;
}

.productPhoto{
    width: 100px;
    height: 100px;
}

.addbtn{
    margin: 0px 1%;
    width: 220px;
    height: 39px;
    background: #ffa218;
    font-size: 20px;
    border-radius: 9px;
    font-weight: 600;
    color: #e9e3e3;
    border: 0;
}

.billTableCard{
    border-collapse: collapse;
}

.cartBox{
    width: 17%;
    height: 336px;
    background-color: #ededed;
    margin: 2% 3%;
    border-radius: 13px;
}
.pName{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.mainBox{
    display: ruby-text;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    
}

.productImage{
    width: 150px;
    height: 150px;
    margin-top: 8%;
}