.buttons{
    width: 12%;
    height: 7%;
    background-color: rgb(244, 130, 48);
    border: 0rem;
    color: white;
    margin: 0 2%;
    font-weight: bold;
}

.signUp, .signIn, .welcomePage,.checkBalance, .recharge,.viewTravelHistory,.travel,.exit{
    display: none;
}

.valid{
    color: green;
    visibility: hidden;
}
.invalid, .specialChar ,.userNamelength {
    color: red;
    visibility: hidden;
}

.welcome{
    color: rgb(244, 130, 48);
    font-weight: bold;
    font-size: 2rem;
}

.welcomeHeader{
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5%;
}
.logout{
    width: 11.5%;
    height: 70%;
    background-color: rgb(244, 130, 48);
    margin-top: 2%;
    border: 0rem;
    color: white;
    font-weight: bold;
}
.welcome{
    color: rgb(244, 130, 48);
    font-weight: bold;
    font-size: 2rem;
}

/* .menuOptions{
    width: 100%;
    height: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.menu{
    background-color: rgb(244, 130, 48);
    border: 0rem;
    color: white;
    font-weight: bold;
    width: 12%;
    height: 7%;
    margin: 0 2%;
}

.travelTable{
    margin: auto;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
}

.tabelcell{
    padding: 8px;
}

.buybutton{
    background-color: rgb(244, 130, 48);
    border: 0rem;
    color: white;
    font-weight: bold;
    width: 50%;
    height: 10%;
    margin: 0 2%;
    border-radius: 2px;
}321